.navbar-item-compte, .navbar-item-compte a{
    color: #fff;
}
.footer-custom{
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 15px;
}
.produit-item{
margin-top: 50px;
}
.produit-item img{
   width: 100%;
   height: 100%;
}

.produit-item h5{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}
.produit-item .product-subtitle{

    font-size: 14px;
    margin-bottom: 10px;
}
.produit-item .product-price{

    font-size: 15px;
    font-weight: bold;
}
.product-container{
   margin-bottom: 150px;
}

.cart-icon{
   height: 20px;
    padding-left: 20px;
}
.block-small
{
    max-width: 600px;
    margin: 0 auto;
}
.form-check{
    background-color: #dfeaff;
    padding: 20px;
    margin-top: 7px;
}
.col-form-label{
    font-weight: bold;
}
.order-summary{
    background-color: #dfeaff;
    padding: 20px;
    margin-top: 7px;
}

.account_item{
    background-color: #f1f2f6;
    padding: 70px;
}
.account_item a{
  text-transform: uppercase;
    font-size: 14px;
    color: #57686f;
    font-weight: bold;
}