{% extends 'base.html.twig' %}

{% block title %}Mon Compte!{% endblock %}

{% block content %}
    <h1>Mon Compte</h1>
    Bienvenue {{ (app.user.prenom ) }} dans votre compte. <br/>
    C'est dans cet espace que vous aller gerer toutes vos informations
    <hr>
    <a href="{{ path('app_acccount_password') }}">  - Modifier mon mot de passe </a><br/>
    - mes commandes <br/>
    <a href="{{ path('app_acccount_adress') }}">  - Gerer mes adresses </a><br/>
    <hr>
{% endblock %}
