{% extends 'base.html.twig' %}
{% block title %}Modification mot de passe {% endblock %}
{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('app_acccount') }}">  Retourner a mon compte </a><br/>
    <hr>
        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
    {{ form(form) }}
    <hr>
{% endblock %}